# ── Airflow ────────────────────────────────────────────────────────────────────
apache-airflow==2.8.3

# ── ML ─────────────────────────────────────────────────────────────────────────
scikit-learn
pandas
numpy

# ── Kafka (Confluent) ──────────────────────────────────────────────────────────
confluent-kafka

# ── Serialización del modelo DT como JSON ─────────────────────────────────────
jsonpickle

# ── Visualización ──────────────────────────────────────────────────────────────
streamlit
plotly
